@mixin transition($time: 0.5s){
    -o-transition:$time;
    -moz-transition:$time;
    -webkit-transition:$time;
    transition:$time;
}

#select-booking-date{
    display:none;
}

#booking-table-container{
    display:none;

    input[type="button"]{
        margin:20px 20px 20px 0;
    }

    #booking-table{

        td{
            background-color: white;
            width: 100%;
            height: 100%;
            border:none;
        }

        .free{
            @include transition;
            border:1px solid silver;
            cursor: pointer;
        }
        .free:hover{
            background-color:cornflowerblue;
        }
        .plan{
            background-color:forestgreen;
        }

        .taken{
            background-color:brown;
        }

        .closed{
            background-color:gray;
        }
    }
}
