@import 'reset';

$default-background: white;
$default-widget-background:black;
$default-bordercolor: #ccc;
$default-radius: 15px;
$min-device-width: 1250px;
$header-height: 30px;
$border-weight: 3px;

@mixin transition($time: 0.5s){
    -o-transition:$time;
    -moz-transition:$time;
    -webkit-transition:$time;
    transition:$time;
}

.base-button{
    @include transition;
    background-color: $default-widget-background;
    color:$default-bordercolor;
    padding:5px;
    border: solid $border-weight;
    text-align:center;
}

body {
    background:$default-background;
    display: block;
    font-family: Calibri, Ubuntu, sans-serif;
}

a{
    color:black;
    font-weight:bold;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}

header{
    position:relative;
    a{
        color:$default-bordercolor;
        text-decoration:none;
    }
    #header-container{
        border-bottom: solid ($border-weight + 2) $default-widget-background;
    }
    #login{
        @extend .base-button;
        font-size: 12pt;
        position:relative;
        margin-left:auto;
        margin-right: 0;
        width: 200px;
        border-top:0;
        border-radius: 0 0 $default-radius $default-radius;
    }

    #login:hover, li:hover{
        color:lighten($default-widget-background, 100%);
        background-color:lighten($default-widget-background, 10%);
        border-color:darken($default-bordercolor, 20%);
    }

    #header-logo{
        width: 147px;
        height: 156px;
        color: gray;
        margin-bottom: $border-weight+2;
    }

    menu{
        float:right;
        $menu-height: 30px;
        ul{
           margin-top: 156px - $menu-height - $default-radius;
        }

        li{
            @extend .base-button;
            padding-top:15px;
            position:relative;
            float:left;
            border-left: 0;
            border-right: solid 1px;
            border-bottom:solid 4px lighten($default-widget-background, 10%);
            display:block;
            width:150px;
            height:$menu-height;
        }

        a{
            display:block;
            width: 100%;
            height: 100%;
        }
        a:hover{
            text-decoration: none;
            color:darken($default-bordercolor, 10%);
        }
        li:first-child{
            border-radius:$default-radius 0 0 0;
        }

        li:last-child{
            border-radius:0 $default-radius 0 0;
        }
    } 

    #image-slide {
        background-color: $default-widget-background;
        float:none;
        width:100%;

        #slides {
            display: none;
        }
    }
}

content{
    padding-top: 20px;
    display:block;
    h1{
        font-size: 20pt;
        font-style: oblique;
    }

    h2{
        margin-top: 20px;
        font-size: 18pt;
        font-style: oblique;
    }

    table{
        background-color:#eee;
        border: solid $border-weight $default-bordercolor;
        tr{

            th{
                @extend .base-button;
                border-right-width:1px;
                border-left-width:1px;
                padding: 5px 10px 5px 10px;
            }

            td{
                border: solid 1px $default-bordercolor;
                background-color: none;
                padding: 5px;
            }
        }

        tr:nth-child(odd){
            background-color: $default-bordercolor;
        }
    }

    legend{
        @extend .base-button;
        text-align: left;
    }

    fieldset{
        margin: 20px 0;
        border: solid 1px $default-bordercolor;
        padding: 30px;

        .editor-field{
            margin-bottom:20px;
        }
    }
    
}

footer{
    @extend .base-button;
    border-width: $border-weight 0 0 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: $header-height;
}

#center-wrap{
    padding: 0 10% 0 10%;
    z-index:1;
    background-color:$default-background;
    margin-bottom:$header-height + 20px;
    position:relative;
    margin-left:auto;
    margin-right:auto;
}

.infobox{
    text-align:center;
    color:white;
    font-weight: bold;
    display:block;
    position:relative;
    width: 100%;
}

.success{
    @extend .infobox;
    background-color: greenyellow;
}

.error{
    @extend .infobox;
    background-color:red;
}



@media only screen 
and (max-width : $min-device-width) {
    #center-wrap{
        width:100%;
        padding: 0;
    }

    header{
        #login{
            width:100%;
            border-radius: 0;
        }

        #header-logo{
            width: (147px / 2);
            height: (156px / 2);
        }

        menu{
            width:100%;

            ul{
                margin-top:0;
            }
            li{
                width:100%;
                border-radius:0 !important;
            }
        }
    }
}

