@{
    ViewBag.Title = "Contact";
}

<h1>Contact opnemen</h1>

<p>Mocht u vragen hebben over ons betoverende hotel, twijfel dan niet om contact met ons op te nemen!</p>
<p>U kunt een mail sturen naar het e-mailadres: hogwarts@@wegisweg.nl</p>
